.contest-container img {
    width: 50%;
    height: 50%;
}
.Backbtn {
  position: absolute;
  top: 0%;
  left: 0%;
  margin: 5px;
}
.Display h2 {
    display: flex;
    justify-content: flex-start;
}
.image-display, .ani-display, .fe-display {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px dashed white;
    border-radius: 50%;
}
.image-display {
  background-color: pink;
  animation: pgt1 2s infinite;
}
.ani-display {
  background-color: palegreen;
  animation: pgt2 2s infinite;
}
.fe-display {
  background-color: paleturquoise;
  animation: pgt3 2s infinite;
}

.fe-display img {
  width: 45%;
  height: 45%;
}
video {
    border-radius: 15px;
}
.super-table {
    width: 600px;
    height: 300px;
    table-layout: fixed;
    border-collapse: collapse;
  }
.super-table th, .super-table td {
    width: 350px;
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  .super-table td {
  text-align: left;
  font-size: larger;
  }

  .THead1 {
    background-color: pink;
    animation: pgt1 2s infinite;
  }
  .THead2 {
    background-color: palegreen;
    animation: pgt2 2s infinite;
  }
  .THead3 {
    background-color: paleturquoise;
    animation: pgt3 2s infinite;
  }

  .Action {
    width: 110%;
  }
  .Action button {
    margin: 1%;
    font-size: larger;
    font-family: monospace;
  }
  .Bt1 {
    background-color: paleturquoise;
    animation: pgt3 2s infinite;
  }
  .Bt2 {
    background-color: palegreen;
    animation: pgt2 2s infinite;
  }
  .Bt3 {
    background-color: pink;
    animation: pgt1 2s infinite;
  }

  iframe {
    border-radius: 10%;
  }

  @keyframes pgt1 {
    25% {background-color: pink;}
    50% {background-color: palegreen;}
    75% {background-color: paleturquoise}
  }
  @keyframes pgt2 {
    25% {background-color: palegreen;}
    50% {background-color: paleturquoise;}
    75% {background-color: pink}
  }
  @keyframes pgt3 {
    25% {background-color: paleturquoise;}
    50% {background-color: pink;}
    75% {background-color: palegreen;}
  }