.mainCalcuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 75vw;
    max-width: 500px;
    height: auto;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 85vh;
    overflow: hidden;
}

.SolutionTxtbox, .AnswerTxtbox {
    width: 90%;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.btnContainers1 {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 10px;
}

.btnCon1, .btnCon2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

.dropdownContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin-bottom: 10px;
}

.dropdownContainer select {
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 8px;
    font-size: 1rem;
    background-color: white;
    cursor: pointer;
}

.dropdownContainer select:first-of-type {
    width: 90px;
}

button {
    width: 65px;
    height: 45px;
    margin: 2px;
    padding: 8px;
    text-align: center;
    border: 1px solid #d3d3d3;
    background-color: #e0e0e0;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

button.num-btn {
    background-color: lightblue;
    color: black;
}

.btnCon1 button, .btnCon2 button {
    background-color: #ffcc99;
}

.secondButton {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #e0e0e0;
    font-weight: bold;
}

.secondButton.active {
    background-color: lightblue;
    color: black;
}

button.clear-btn {
    background-color: lightcoral;
}

button.equals-btn {
    background-color: rgb(55, 178, 218);
}
