body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #121212;
  color: #ffffff;
}

.calculator-container {
  width: 100%;
  max-width: 350px;
  margin: 20px auto;
  background-color: #1e1e1e;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid #6f6f6f;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  width: 90%;
  height: 25px;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  background: #2a2a2a;
  border-radius: 5px;
  border: 2px solid #6f6f6f;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.display.result {
  font-weight: bold;
  background: #333;
  border: 2px solid #9e9b9b;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 12px;
  width: 100%;
}

button {
  width: 100%;
  height: 48px;
  font-size: 18px;
  font-weight: bold;
  background: #252525;
  border: 2px solid #888;
  border-radius: 8px;
  transition: all 0.2s ease;
  box-shadow: 0 3px 6px rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

button:hover {
  background: #454545;
  border-color: #aaa;
  transform: translateY(-2px);
}

button:active {
  transform: scale(0.95);
}

.numRemovers {
  border: 2px solid #ff5c5c;
  color: white;
}

.numRemovers:hover {
  background: #962828;
  border-color: #ff8080;
}

.btn-num {
  border: 2px solid #4a90e2;
}

.btn-num:hover {
  background: #29507d;
  border-color: #6aa9ff;
}

.operator {
  border: 2px solid #4ae290;
}

.operator:hover {
  background: #29704d;
  border-color: #6affaa;
}

.btn-results {
  border: 2px solid #e6db3f;
  color: white;
}

.btn-results:hover {
  background: #968e26;
  border-color: #fcef3b;
}

@media (max-width: 400px) {
  .calculator-container {
    width: 85%;
  }
}

@media (max-width: 600px) {
  body {
    height: 100%;
  }
}

@media only screen and (max-width: 360px) and (max-height: 740px) {
  .calculator-container {
    width: 95%;
    padding: 10px;
  }

  .display {
    font-size: 18px;
    height: 30px;
  }

  button {
    height: 45px;
    font-size: 16px;
  }

  .buttons {
    gap: 8px;
  }
}

.Names {
  font-size: small;
  text-align: center;
  font-family: sans-serif;
  padding-top: 13px;
}